html {
    background: none !important;
    width: 1024px !important;
}

.col {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    clear: none !important;
    display: block !important;
}

article {
    display: block !important;
}

section {
    display: block !important;
}

section.blockelement.feature, section.blockelement.summary {
    border: 1px SOLID #666;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

div.title-section {
    border: 1px SOLID #666;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

#filterResults {
    display: none !important;
}