html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,c4c4c4+100 */
    background: rgb(247,247,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(196,196,196,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(196,196,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(196,196,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
}
@font-face{
font-family: "Roboto Slab";
src: url('font1.woff2') format('woff');
}
body {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    webkit-tap-highlight-color: #aad400;
    color: #333;
    font-size: 10pt;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700
}

div.logo {
    vertical-align:middle;
    display: inline-block;
}

img.logo {
    max-height: 75px;
    min-height: 50px;
    height: auto;
    padding: 1px;
    vertical-align:middle;
    display: inline-block;
}

div.title-heading {
    display: inline-block; 
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
    width:auto;
    height:auto;
    flex-grow: 1;
}

span.title-heading-name {
    vertical-align:middle;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-left: 15px;
    font-size: 18pt;
}

span.title-heading-main-heading {
    vertical-align:middle;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0px;
    font-size: 22pt;
}

@media screen and (max-width: 1024px) {
    .title-heading-name:before {
        content: '\A';
        white-space: pre;
    }
    span.title-heading-name {
        font-size: 12pt !important;
        font-size: 2vw !important;
    }
    span.title-heading-main-heading {
        font-weight: 700;
        font-size: 20pt !important;
        font-size: 3vw !important;
    }
}

@media screen and (max-width: 750px) {
    .title-heading-name:before {
        content: '\A';
        white-space: pre;
    }
    span.title-heading-name {
        font-size: 12pt !important;
        font-size: 2vw !important;
    }
    span.title-heading-main-heading {
        font-size: 20pt !important;
        font-size: 3vw !important;
    }
}

@media screen and (max-width: 400px) {
    .title-heading-name:before {
        content: '\A';
        white-space: pre;
    }
    span.title-heading-name {
        font-size: 12pt !important;
        font-size: 2vw !important;
    }
    span.title-heading-main-heading {
        font-size: 20pt !important;
        font-size: 3vw !important;
    }
}

.title-section-break {
    padding: 15px;
    background-color: #4f4959;
}

.afor-report {
    background-color: #fff;
    padding: 5px;
}

.afor-report .header {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px;
}

.afor-report .keyword {
    font-weight: bold;
}

.afor-report .description {
    font-style: italic;
    margin-left: 20px;
}

.afor-report details > section {
    margin-left: 20px;
}

.afor-report ol.steps {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.embedded-text {
    padding: 5px;
    background: #dddddd;
    box-shadow: 0 0 0 1px #999; /* this draws the table border  */
    margin: 0 0 0 20px;
    border-radius: 5px;
}

.afor-report .doc_string {
    margin: 0 0 0 20px;
}

.afor-report table {
    margin-left: 20px;
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */ 
    margin-bottom: 5px;
}

.afor-report tbody td, .afor-report tbody th {
    padding: none;
    background-color: #ddd;
}

.afor-report tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.afor-report tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.afor-report table.data_table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

.afor-report table.data_table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

.afor-report thead tr td {
    color: #000;
    padding: 5px 4px 3px 4px;
    font-weight: bold;
    border-radius: none;
    background-color: #56c44c;
    border: none;
}

section.blockelement.statistics {
    background-color: #fff !important;
}

section.blockelement.feature {
    background-color: #efebe5 !important;
    border-radius: 5px;
    margin: 5px;
    padding: 1px;
}

section.blockelement.summary {
    content-visibility: auto;
    background-color: #efebe5;
    padding: 10px;
}

section.blockelement.summary {
    background-color: #efebe5;
    overflow: hidden;
}

section.blockelement.scenario, section.blockelement.background {
    padding: 2px;
    border-radius: 5px;
    margin: 3px;
}

.afor-report .passed {
    background-color: #56c44c;
}

.afor-report .pending {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaec2d+0,d1d100+100 */
    background: rgb(234,236,45); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(234,236,45,1) 0%, rgba(209,209,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(234,236,45,1) 0%,rgba(209,209,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(234,236,45,1) 0%,rgba(209,209,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaec2d', endColorstr='#d1d100',GradientType=1 ); /* IE6-9 */
}

.afor-report .undefined {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e07a3e+0,d16100+100 */
    background: rgb(224,122,62); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(224,122,62,1) 0%, rgba(209,97,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(224,122,62,1) 0%,rgba(209,97,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(224,122,62,1) 0%,rgba(209,97,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e07a3e', endColorstr='#d16100',GradientType=1 ); /* IE6-9 */
}

.afor-report .ambiguous {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0a42c+0,ed3700+100 */
    background: #e0a42c; /* Old browsers */
    background: -moz-linear-gradient(top, #e0a42c 0%, #ed3700 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e0a42c 0%,#ed3700 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e0a42c 0%,#ed3700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0a42c', endColorstr='#ed3700',GradientType=0 ); /* IE6-9 */
}

.afor-report .skipped {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2deaec+0,00b7b7+100 */
    background: rgb(45,234,236); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(45,234,236,1) 0%, rgba(0,183,183,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(45,234,236,1) 0%,rgba(0,183,183,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(45,234,236,1) 0%,rgba(0,183,183,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2deaec', endColorstr='#00b7b7',GradientType=1 ); /* IE6-9 */
}

.afor-report .failed {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea9a9a+0,ed2525+100 */
    background: rgb(234,154,154); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(234,154,154,1) 0%, rgba(237,37,37,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(234,154,154,1) 0%,rgba(237,37,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(234,154,154,1) 0%,rgba(237,37,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea9a9a', endColorstr='#ed2525',GradientType=1 ); /* IE6-9 */
}

.afor-report .name {
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    position:absolute;
    max-width: 65%;
    white-space:nowrap
}

.afor-report .tags {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.afor-report .tag {
    margin-right: 0.25em;
    color: #246ac1;
}

.afor-report .comments {
    display: inline;
}

.afor-report .comment {
    margin 0;
    padding 0;
    font-style: italic;
}

.afor-report .error {
    margin: .2em .75em;
    padding: .2em;
    border: 1px solid #900;
    background-color: #EDBBBB;
    border-radius: 5px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#cucumber-templates {
    display: none;
}

div.title-section {
    display: flex;
    background-color: #56c44c;
    padding: 15px;
    white-space: nowrap;
    overflow: auto;
    color: #000;
    flex-grow: 1;
}

span.duration, span.startTime {
    font-style: italic;
    color: #666;
    float:right;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 135px;
    text-align: right;
    clear:left;
}

span.duration.long {
    font-weight: bold;
}

@media screen and (max-width: 1104px) {
    span.duration,span.startTime {
        display: none;
    }
}
@media screen and (min-width: 1105px) {
    span.duration,span.startTime {
        display: block;
    }
}

.col {
    float: left;
    margin-left: 3.2%;
    margin-bottom: 30px;
}
.fullwidth .col {
    float: none;
    margin-left: 0;
}
/* grid4 col */
.grid4 .col {
    width: 22.6%;
}
/* grid3 col */
.grid3 .col {
    width: 31.2%;
}
/* grid2 col */
.grid2 .col {
    width: 48.4%;
}
/* clear col */
.grid4 .col:nth-of-type(4n+1),
.grid3 .col:nth-of-type(3n+1),
.grid2 .col:nth-of-type(2n+1) {
    margin-left: 0;
    clear: left;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* reset cols to 3-column */
@media screen and (max-width: 1500px) {
    /* grid4 */
    .grid4 .col {
        width: 31.2%;
    }
    .grid4 .col:nth-of-type(4n+1) {
        margin-left: 3.2%;
        clear: none;
    }
    .grid4 .col:nth-of-type(3n+1) {
        margin-left: 0;
        clear: left;
    }
}

/* reset cols to 2-column */
@media screen and (max-width: 1499px) {
    /* grid4 */
    .grid4 .col {
        width: 48.4%;
    }
    .grid4 .col:nth-of-type(3n+1) {
        margin-left: 3.2%;
        clear: none;
    }
    .grid4 .col:nth-of-type(2n+1) {
        margin-left: 0;
        clear: left;
    }

    /* grid3 */
    .grid3 .col {
        width: 48.4%;
    }
    .grid3 .col:nth-of-type(3n+1) {
        margin-left: 3.2%;
        clear: none;
    }
    .grid3 .col:nth-of-type(2n+1) {
        margin-left: 0;
        clear: left;
    }
}

/* reset cols to fullwidth */
@media screen and (max-width: 1104px) {
    /* grid4 */
    .col {
        width: 100% !important;
        margin-left: 0 !important;
        clear: none !important;
    }
}

.chart {
    margin: 10px 10px 10px 10px;
    overflow:hidden;
    position: relative;
    width: 100%;
    min-height: 350px;
    height: auto;
    display:block;
    text-align: center;
}

.chart img {
    max-width: 100%;
}

.chart-table {
    min-height: 0px !important;
    margin-top: 5px;
}
.chart table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.chart th,td {
    border: 1px solid #ddd;
    padding: 2px .35em;
    margin: 0px;
}
a {
    text-decoration-line: none;
    color: #000
}
a:hover {
    color: #000;
    text-decoration-line: underline
}
a.attachment {
    text-decoration-line: underline;
    color: #000;
    font-weight: bold;
}
a.attachment:hover {
    color: #000;
    text-decoration-line: underline;
    font-weight: bold;
}
tr.tableRow td {
    text-align: center;
}
tr.headerRow th:nth-child(1) {
    width: 100%;
}
tr.headerRow th:nth-child(2) {
    background-color: #56c44c;
}
tr.headerRow th:nth-child(3) {
    background-color: #ed2525;
}
tr.headerRow th:nth-child(4) {
    background-color: #e07a3e;
}
tr.headerRow th:nth-child(5) {
    background-color: #eaec2d;
}
tr.headerRow th:nth-child(6) {
    background-color: #2deaec;
}
tr.headerRow th:nth-child(7) {
    background-color: #2deaec;
}

tr.tableRow td:nth-child(2) {
    background-color: #56c44c;
}
tr.tableRow td:nth-child(3) {
    background-color: #ed2525;
}
tr.tableRow td:nth-child(4) {
    background-color: #e07a3e;
}
tr.tableRow td:nth-child(5) {
    background-color: #eaec2d;
}
tr.tableRow td:nth-child(6) {
    background-color: #2deaec;
}
tr.tableRow td:nth-child(7) {
    background-color: #2deaec;
}

tr.tableRow td:empty {
    background-color: none !important;
}

.chartHeading {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.chartHeadingTable {
    padding-top: 20px;
    text-align: center;
}

.breakdown {
    padding-top: 20px;
    padding-left:20px;
    margin-right:-20px;
    display: table-cell;
    vertical-align: middle;
}

.breakdownRow {
    margin-top: 5px;
}

.breakdownRow .passed {
    color: #56c44c;
}

.breakdownRow .pending {
    color: #eaec2d;
}

.breakdownRow .undefined {
    color: #ffc500;
}

.breakdownRow .skipped {
    color: #2deaec;
}

.breakdownRow .ambiguous {
    color: #e0a42c;
}

.breakdownRow .failed {
    color: #ff0000;
}

#featureScenarioContainer {
    display: none;
}

#filterResults {
    padding-top: 20px;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
}

#filterResults #keyword {
    width: 80%;
    min-width: 350px;
    max-width: 700px;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.5em 0.75em;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding-left: 35px;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat left;
    background-position: 10px 10px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.switches {
    padding: 10px;
}
.cl-switch input[type="checkbox"] {
  display: none;
  visibility: hidden;
}
.cl-switch .switcher {
  display: inline-block;
  border-radius: 100px;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;
}
.cl-switch .switcher:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  margin-top: 3px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 4px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.cl-switch .switcher:active:before {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 0 0 10px rgba(63, 81, 181, 0.3);
  transition: all, 0.1s;
}
.cl-switch .label {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 5px;
}
.cl-switch input[type="checkbox"]:checked + .switcher {
  background-color: #8591d5;
}
.cl-switch input[type="checkbox"]:checked + .switcher:before {
  right: 100%;
  margin-right: -22px;
  background-color: #3f51b5;
}
.cl-switch.cl-switch-large .switcher {
  width: 52px;
  height: 22px;
}
.cl-switch.cl-switch-large .switcher:before {
  width: 30px;
  height: 30px;
  margin-top: -4px;
}
.cl-switch.cl-switch-large .label {
  font-size: 18px;
}
.cl-switch.cl-switch-large input[type="checkbox"]:checked + .switcher:before {
  margin-right: -30px;
}
.cl-switch.cl-switch-red input[type="checkbox"]:checked + .switcher {
  background-color: #ff3131;
}
.cl-switch.cl-switch-red input[type="checkbox"]:checked + .switcher:before {
  background-color: #fff;
}
.cl-switch.cl-switch-red .switcher:active:before {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 0 0 10px rgba(255, 104, 104, 0.3);
}
.cl-switch.cl-switch-green input[type="checkbox"]:checked + .switcher {
  background-color: #56c44c;
}
.cl-switch.cl-switch-green input[type="checkbox"]:checked + .switcher:before {
  background-color: #fff;
}
.cl-switch.cl-switch-grey input[type="checkbox"]:checked + .switcher {
  background-color: #4f4959;
}
.cl-switch.cl-switch-grey input[type="checkbox"]:checked + .switcher:before {
  background-color: #fff;
}
.cl-switch.cl-switch-green .switcher:active:before {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 0 0 10px rgba(41, 204, 151, 0.3);
}

#expandCollapse {
    padding-left: 10px;
}